
    @font-face {
        font-family: "Ubuntu";
        src: url(../fonts/Ubuntu-Bold.ttf);
      }
      @font-face {
        font-family: "Dosis";
        src: url(../fonts/Dosis-Bold.ttf);
      }
 


