
    @font-face {
        font-family: "Ubuntu";
        src: url(../fonts/Ubuntu-Bold.ttf);
        font-display: swap;
      }
      @font-face {
        font-family: "Dosis";
        src: url(../fonts/Dosis-Bold.ttf);
        font-display: swap;
      }
      @font-face {
        font-family: "Dosis-semi";
        src: url(../fonts/Dosis-SemiBold.ttf);
        font-display: swap;
      }
      @font-face {
        font-family: "Dosis-medium";
        src: url(../fonts/Dosis-Medium.ttf);
        font-display: swap;
      }
 
 


