
.imgmodulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
  }
  .container {
    max-width: 100% !important;
  }
  .tituloModulo {
    color: rgb(62, 65, 109);
    font-weight: normal;
    font-size: 24px;
    font-family: "Ubuntu";
    text-align: start;
    border-left: 3px solid rgb(62, 65, 109);
    padding-left: 5px;
    margin-top: 15px;
    word-break: break-all;
  }
  .descripcionModulo {
    color: #6a1b9a !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 8px !important;
    text-align: justify;
  }
  .nombreModulo {
    font-family: "Dosis";
    font-size: 20px;
    font-weight: normal;
    color: rgb(62, 65, 109);
    border-left: 2px solid rgb(62, 65, 109);
  }
  .mostrarmenosMod {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cardMod {
    width: 100% !important;
    background-color: #f9f9f9f9 !important;
    box-shadow: none !important;
  }
  .imgMod {
    height: 200px !important;
  }
  .selectMod {
    height: 150px !important;
  }
  @media screen and (max-width: 960px) {
    .tituloModulo {
      font-size: 26px;
    }
    .descripcionModulo {
      display: none;
    }
    .cardMod {
      border-radius: 10px !important;
    }
    .botonInfo .v-btn {
      display: none !important;
    }
    .mostrarmenosMod {
      white-space: normal;
      overflow: none;
      text-overflow: none;
    }
  }
  @media screen and (max-width: 750px) {
    .tituloModulo {
      font-size: 24px;
    }
    .descripcionModulo {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 450px) {
    .imgMod {
      height: 100px !important;
    }
  }
  @media screen and (max-width: 600px) {
    .tituloModulo {
      font-size: 14px !important;
    }
  }